<a href="https://colab.research.google.com/github/HosungJung01/AI-python-connect/blob/master/%EC%8B%A4%EC%8A%B5W04A1_COLAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm
from statsmodels.iolib.summary2 import summary_col

In [ ]:
import tensorflow as tf

In [ ]:
tf.__version__

In [ ]:
np.set_printoptions(precision=5)
np.set_printoptions(suppress=True)

*외부화일을* colab에서 이용합니다.

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

In [ ]:
data = pd.read_csv('/content/gdrive/My Drive/HSCHUNG/PYTHON/B_CLASS/B_AppliedDataAnalysis/DATA/MACRO_202006.csv')

In [ ]:
data['QUARTER'] = ((data['YYM'] % 100)/3).astype(int) # % 나머지 구하기 , // 몫 구하기

In [16]:
data.head()

      YYM  REALGDP  REALCONS       INV  ...  QUARTER  RollingMean  TARGET  TARGET1
0  200112      1.8       2.6 -4.000543  ...        4          NaN       0      0.0
1  200203      2.5       3.4  2.189682  ...        1          NaN       0      0.0
2  200206      1.8       2.0  7.228907  ...        2          NaN       0      0.0
3  200209      2.0       0.7 -0.144686  ...        3          NaN       0      0.0
4  200212      1.1      -0.1  5.945974  ...        4          NaN       0      0.0

[5 rows x 13 columns]

In [ ]:
data['RollingMean']= data.REALGDP.rolling(20).mean()

In [ ]:
data['TARGET'] = (data.REALGDP > data.RollingMean).astype(int)

In [ ]:
data['TARGET1'] = data['TARGET'].shift(-1) # 다음분기의 결과를 현재 분기에 일치(예측하기 위한 것임)

In [ ]:
pct_cols = ['M2', 'INFL']
#drop_cols = ['year', 'realgdp', 'pop', 'cpi', 'growth_rate']
data.loc[:, pct_cols] = data.loc[:, pct_cols].pct_change(1)

In [ ]:
data1 = pd.get_dummies(data, columns=['QUARTER'], drop_first=True).dropna()

In [ ]:
data1 = data1.drop(['YYM', 'REALGDP', 'TARGET', 'RollingMean'], axis=1)

In [ ]:
model = sm.Logit(data1.TARGET1, sm.add_constant(data1.drop(['TARGET1'], axis=1)))
result = model.fit()
result.summary()

In [ ]:
plt.rc('figure', figsize=(12, 7))
plt.text(0.01, 0.05, str(result.summary()), {'fontsize': 14}, fontproperties = 'monospace')
plt.axis('off')
plt.tight_layout()
plt.subplots_adjust(left=0.2, right=0.8, top=0.8, bottom=0.1)
plt.savefig('/content/gdrive/My Drive/HSCHUNG/PYTHON/B_CLASS/B_AppliedDataAnalysis/DATA/logistic_example.png', bbox_inches='tight', dpi=300);